body {
  background-color: #1e1e1e;
  color: #a2dbee;
  margin: 20px;
  font-family: 'Amatic SC', cursive;
  font-size: 22px;}

h1 {
  font-family: 'Oswald', sans-serif;}
a {color: #BF40BF;}
img {margin: 20px; 
  width: 400px;}
